<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Listar Professores</title>
</head>
<body>
	<h1>Listar Professores</h1>
	</br>
	<table>
		<tr>
			<td>Matricula</td>
			<td>Nome</td>
			<td>E-mail</td>
			<td>Senha</td>
			<!--<td>Ação</td>-->
		</tr>

		<% for(var i=0; i < professores.length; i++){ %>
			<tr>
				<td><%=professores[i].matricula%></td>
				<td><%=professores[i].nome_professor%></td>
				<td><%=professores[i].email_professor%></td>
				<td><%=professores[i].senha_professor%></td>
				<!--<td>
					<a href="/aluno/apagarAluno/RA=<%= professores[i].matricula%>">Editar</a>
					<a href="#">Excluir</a>
				</td>-->
			</tr>
		<% } %>
	</table>
	<br/><a href="/professor">Menu Principal</a>
</body>
</html>