<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Listar Turmas/Disciplinas</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Turma/Disciplina</a>
		<a class="navbar-brand" href="/diariodeclasse">Home</a>
	</nav>
	<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-2">
					<ul class="nav flex-column">
					  <li class="nav-item">
					    <a class="nav-link" href="/turma_disciplina/formulario">Adicionar</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma_disciplina/buscar">Buscar</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma_disciplina/listar">Listar</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma_disciplina/editar">Editar</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma_disciplina/apagar">Apagar</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma_disciplina/formularioProfessor">Adicionar Professor</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma_disciplina/listarProfessores">Listar Professores</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma_disciplina/formularioAluno">Matricular Aluno</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="/turma_disciplina/listarMatriculaAluno">Listar Alunos Matriculados</a>
					  </li>
					</ul>
				</div>
				<div class="col-sm-10">
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">Código Turma/Disciplina</th>
					      <th scope="col">Código da Disciplina</th>
					      <th scope="col">Nome da Disciplina</th>
					      <th scope="col">Código da Turma</th>
					      <th scope="col">Turma</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% for(var i=0; i < turma_disciplinas.length; i++){ %>						
							<tr>
								<td><%=turma_disciplinas[i].id_turma_disciplina%></td>
								<td><%=turma_disciplinas[i].codigo_disciplina%></td>
								<td><%=turma_disciplinas[i].nome_disciplina%></td>
	   							<td><%=turma_disciplinas[i].codigo_turma%></td>
	   							<td><%=turma_disciplinas[i].turma%></td>
							</tr>
						<% } %>
					  </tbody>
					</table>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>